body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .navbar {
    background-color: #242424; 
    color: #fff; 
    display: flex;
    align-items: center;
    padding: 10px 20px;
    height: 40px;
  }
  
  .logo img {
    max-width: 120px; 
    height: auto; 
    margin-left: 30px;
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
  }
  
  .nav-links li {
    margin: 0 15px; 
  }
  
  .nav-links a {
    text-decoration: none; 
    color: #fff; 
    font-size: 17px;
    padding: 21px;
    text-transform: uppercase;
  }
  
  .nav-links a:hover {
    background: #DE522E;
  }
  
  .location a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 30px;
    padding: 21px;
  }
  
  .location a:hover {
    background: #DE522E;
  }

  .section1 {
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }

  .section1 img {
    max-width: 100%; 
    height: 100%; 
    height: 100vh;
}

.text-container {
  position: absolute;
  color: white;
  margin-right: 350px;
}

.title-wrapper {
  display: flex;
  margin-left: 10px;
}

.readmore {
  list-style-type: none;
  margin-top: 10px;
  padding: 5px;
}

.readmore a {
  display: inline-block;
  padding: 8px 70px; 
  border-radius: 20px;
  font-size: x-large;
  text-decoration: none;
  background-color: #DE522E;
  color: white;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.readmore a:hover {
  color: #DE522E;
  background: white;
}

.text-container h3 {
  font-size: 70px;
  margin: 0; 
}

.text-container p {
  margin-top: 10px; 
}

.text-container h1 {
  letter-spacing: 9px;
}

.section2 {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 100px;
}

.image-container {
  display: flex;
}

.image-container img {
  width: 300px;
}

.section2 h1 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}


.section3 {
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.section3 img {
  width: 100%;
  height: 80vh;
}

.text-container2 {
  position: absolute;
}

.text-container2 h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 70px;
}

.text-container2 p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.discover {
  list-style-type: none;
  text-align: center;
}

.discover a {
  display: inline-block;
  padding: 8px 70px; 
  border-radius: 20px;
  font-size: x-large;
  text-decoration: none;
  background-color: white;
  color:#DE522E;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 30px;
  margin-top: 30px;
}

.discover a:hover {
  background-color: #DE522E;
  color: white;
}

.section4 {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-color: rgb(252, 215, 184);
  display: flex;
  flex-direction: column; /* Stack items vertically */
  height: 700px;
}

.section4 h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
}

.text-container3 h1 {
  text-align: center;
}

.text-container3 p {
  text-align: center;
}

.image-container2 {
  display: flex;
}

.image-container2 img {
  width: 400px;
  height: 400px;
  margin-right: 20px;
}

.section5 {
  background-color: #242424; 
  color: #fff; 
  display: flex;
  align-items: center;
  padding: 10px 20px;
  height: 100px;
}

.logo2 img {
  max-width: 180px;  
  margin-left: 30px;
}

.links-end {
  display: flex;
  gap: 40px;
  list-style-type: none;
  flex-grow: 1; 
  margin-left: 70px;
}

.links-end a {
  color: white;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
}

.links-end a:hover {
  color: #393939;
}

.social-media img {
  max-width: 40px;  
  max-height: 40px;
  margin-right: 15px;
}

footer {
  background-color: #393939; 
  color: #fff; 
  display: flex;
  align-items: center;
  padding: 10px 20px;
  height: 10px;
}

.links-footer {
  display: flex;
  gap: 40px;
  list-style-type: none;
  flex-grow: 1; 
  margin-left: 70px;
  justify-content: center;
}

.links-footer li {
  color: rgb(252, 215, 184);
  font-size: small;
}

.links-footer a {
  color: rgb(252, 215, 184);
  text-decoration: none;
  font-size: small;
}

.links-footer a:hover {
  color: white;
}